.carousel {
    width:100%;
}

.carousel-container{
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    border: 1px solid #000;
    width:900px;
    overflow: hidden;
}

.carousel-item {
    height: 150px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 150px;
    z-index: 0;
  }
img.medium {
    max-width: 29rem;
     height:300px;
}
.card:nth-child(2n) img{
  width:350px;
}
.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin:0.5rem;
}
.card:nth-child(2n){
  box-shadow: 2px 2px 20px #000;
}
  .card-body > * {
  margin-bottom: 0.5rem ;
  }
  .price{
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem ;
  }

  #chevron-arrow-left {
    display: inline-block;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    width: 20px; height: 20px;
    transform: rotate(-225deg);
  }
  
  #chevron-arrow-right {
    display: inline-block;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    width: 20px; height: 20px;
    transform: rotate(-45deg);
  }

  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

ul li{
  margin-right:2rem;
}

.disabled{
  pointer-events: none;
  opacity: 0.2;
}